html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#legend {
  height: 100%;
  width: 100%;
}
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: black;
}
.ct-series-a .ct-area {
  fill: blue;
}
a:link, a:visited {
  text-decoration: none;
  color: aqua;
  cursor: pointer;
}
#ct {
  height: 0px;
  width: 0px;
}
ct-chart {
  overflow: scroll;
}